.counter {
  display: flex;
  width: 100%;
  background-color: rgb(42, 42, 42);
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 50px;
  padding: 20px 50px;
}
.counter .counterContant h3 {
  font-size: 20px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  color: rgb(186, 1, 1);
  letter-spacing: 1px;
}
.counter .counterContant {
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.counter .counterContant h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .counter {
    display: block;
    align-items: center;
    justify-content: center;
  }
}
